<turbo-frame id="weather_result">
  <% if @service.success? %>
    <p>Temp: <%= @service.object.temp %></p>
    <p>Min: <%= @service.object.temp_min %></p>
  <% else %>
    <%= @service.object %>
  <% end %>
</turbo-frame>